# System files and folders
*.lnk
*.tmp
*.exe
*.log
*.ini
AppData/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/

# IDE and Editor files
.idea/
.vscode/
*.class

# Hidden files
.DS_Store
*.swp
